@page "/locations"


@using TeamManagerDemo.Infrastructure.Data
@using TeamManagerDemo.Core.Entities

@inject AppDbContext appDbContext

@inherits LocationsBase 

<div class="container">
    <h1>Locations</h1>
    
    @if (locations == null)
    {
        <p>
            <em>Loading...</em>
        </p>
    }
    else if (locations.Count() == 0)
    {
        <p>No Locations found</p>
    }
    else
    {
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var location in locations)
            {
                <tr>
                    <td>@location.City</td>
                    <td>

                        <a href="@($"edit-state/{@location.Id}")" class="btn btn-primary edit-btn">
                            Edit Legue
                        </a>
                        <button
                            class="btn btn-danger edit-btn"
                            @onclick="@(e => DeleteLocation(location.Id))">
                            Delete
                        </button>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    }

    @if (ShowModal)
    {
        <div class="modal fade show d-block" id="exampleModal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add League</h5>
                        <button type="button" class="close" @onclick="ToggleAddModal" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <EditForm Model="@Location" OnValidSubmit="@HandleValidSubmit">
                    <div class="modal-body">
                        <DataAnnotationsValidator />
                        <ValidationSummary />

                        <div class="form-group row">
                            <label for="city" class="col-sm-3">
                                City:
                            </label>
                            <InputText 
                                id="city" 
                                @bind-Value="@Location.City" 
                                class="form-control col-sm-8" 
                                placeholder="City Name">
                            </InputText>
                            <ValidationMessage 
                                class="offset-sm-3 col-sm-8"
                                For="@(() => Location.City)">
                            </ValidationMessage>
                            <label for="state" class="col-sm-3">
                                State:
                            </label>
                            <select 
                                id="state" 
                                @bind="@Location.StateId" 
                                class="form-control col-sm-8" >
                                @foreach(var s in States)
                                {
                                    <option value=@s.Id>@s.Name</option>
                                }
                            </select>
                            <ValidationMessage 
                                class="offset-sm-3 col-sm-8"
                                For="@(() => Location.State)">
                            </ValidationMessage> 
                            <label for="addressone" class="col-sm-3">
                                Address One:
                            </label>
                            <InputText 
                                id="addressone" 
                                @bind-Value="@Location.AddressOne" 
                                class="form-control col-sm-8" 
                                placeholder="Address One">
                            </InputText>
                            <ValidationMessage 
                                class="offset-sm-3 col-sm-8"
                                For="@(() => Location.AddressOne)">
                            </ValidationMessage>
                            <label for="addresstwo" class="col-sm-3">
                                Address Two:
                            </label>
                            <InputText 
                                id="addresstwo" 
                                @bind-Value="@Location.AddressTwo" 
                                class="form-control col-sm-8" 
                                placeholder="Address Two">
                            </InputText>
                            <ValidationMessage 
                                class="offset-sm-3 col-sm-8"
                                For="@(() => Location.AddressTwo)">
                            </ValidationMessage>
                            <label for="zip" class="col-sm-3">
                                Zip Code:
                            </label>
                            <InputText 
                                id="zip" 
                                @bind-Value="@Location.ZipCode" 
                                class="form-control col-sm-8" 
                                placeholder="Zip Code">
                            </InputText>
                            <ValidationMessage 
                                class="offset-sm-3 col-sm-8"
                                For="@(() => Location.ZipCode)">
                            </ValidationMessage>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary edit-btn">Save</button>
                        <button type="button" @onclick="ToggleAddModal" class="btn btn-default edit-btn">
                            Cancel 
                        </button>
                    </div>
                    </EditForm>
                </div>
            </div>
        </div>
    }

    <button @onclick="ToggleAddModal" class="btn btn-primary edit-btn">
        Add Location 
    </button>
</div>

        @* [MaxLength(50)]
        public string City { get; set; }

        public State State { get; set; } 
        
        [MaxLength(50)]
        public string AddressOne { get; set; }
        
        [MaxLength(50)]
        public string AddressTwo { get; set; }

        [MaxLength(20)]
        public string ZipCode { get; set; } *@